# Important: Make sure to increase the default timeout of 60 minutes in the (Project!) Settings -> CI/CD -> General pipelines settings

image: debian:stretch

before_script:
  - apt-get -qq update --yes
  - apt-get -qq install --yes packaging-dev python3 python ninja-build > /dev/null
  - apt-get install --yes devscripts
  - export UTILIKIT_CONFIG_TYPE=debian_stretch
  - mkdir build/
  - mkdir build/sandbox
  - mkdir build/downloads

stages:
#  - test
  - build

build:
  stage: build
  only:
  - tags
  - triggers
  script:
    - ./utilikit/prepare_sources.py
    - ./utilikit/substitute_domains.py
    - ./utilikit/generate_build_files.py debian --flavor standard --apply-domain-substitution
    - cd build/sandbox
    # - dpkg-checkbuilddeps # Checks and reports any additional packages needed
    - echo -en "y\n" | mk-build-deps -i debian/control > /dev/null # install any additional packages needed
    - dpkg-buildpackage -b -uc | grep -v "warning"
    - cd ../../
    - ls -la ./build # our built files should be in here
  artifacts:
    paths:
    - ./build/*.deb
    - ./build/*.changes
    - ./build/*.buildinfo

#unitTests:
#  stage: test
#  script:
#    - ./test_script.sh
